<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <orderharmony translate="label">
            <label>Order Harmony Extensions</label>
            <sort_order>100</sort_order>
        </orderharmony>
    </tabs>
    <sections>
        <orderharmony translate="label">
            <label>Extension Configuration</label>
            <tab>orderharmony</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
 
            <groups>
                <orderharmony_group translate="label">
                    <label>Configuration Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
 
                    <fields>
                        <orderharmony_url translate="label">
                            <label>URL: </label>
                            <comment>URL of your Order Harmony page, eg. https://david.orderharmony.com</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </orderharmony_url>
                        <orderharmony_token translate="label">
                            <label>Token: </label>
                            <comment>Order Harmony Token</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </orderharmony_token>
                        <orderharmony_secret translate="label">
                            <label>Secret: </label>
                            <comment>Order Harmony Secret</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </orderharmony_secret>
                    </fields>
                </orderharmony_group>
            </groups>
        </orderharmony>
    </sections>
</config>